streamlit
groq
langchain
langchain-community
langchain-groq
chromadb
sentence-transformers
openai-whisper
pypdf>=4.0.0
audio-recorder-streamlit
langchain
langchain-community
langchain-groq
langchain-text-splitters
